{% extends "base.html" %}

{% block content %}

<section class="hero">

    <div>

        <span class="badge glass px-4 py-2 mb-4">
            🚀 Smart Campus Lost & Found
        </span>

        <h1>
            Reconnect With
            <br>
            What Matters
        </h1>

        <p class="mt-4">
            Lost your laptop, wallet, headphones, or ID card?
            CampusFind helps students report, search,
            and recover belongings faster than ever.
        </p>

        <div class="mt-5">

            <div class="mt-5">

    <a href="/login"
       class="btn btn-main me-3">
        Get Started
    </a>

    <a href="/register"
       class="btn btn-outline-light">
        Create Account
    </a>

</div>

        </div>

    </div>

</section>

<div class="row mb-5">

    <div class="col-md-4 mb-4">

        <div class="feature-card glass">

            <h3>📦 Report Lost Items</h3>

            <p class="mt-3 text-secondary">
                Quickly publish details about missing belongings.
            </p>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="feature-card glass">

            <h3>🔍 Find Matches</h3>

            <p class="mt-3 text-secondary">
                Search across found items posted by students.
            </p>

        </div>

    </div>

    <div class="col-md-4 mb-4">

        <div class="feature-card glass">

            <h3>🤝 Secure Recovery</h3>

            <p class="mt-3 text-secondary">
                Verify ownership and reclaim your belongings safely.
            </p>

        </div>

    </div>

</div>


{% endblock %}